<h2>3taps API - Intro</h2>
Welcome to the 3taps API Documentation.
<br /><br />
We make every effort to keep our API information current.
Please check our blog for any updates that may not be reflected in these documents.
<br /><br />
All of our APIs are shown with example code in Javascript.
You can <a href="/scripts/3taps-client.js" target="_blank">download the Javascript API client here</a>.
We have other API clients in PHP, Python, Java, and Perl that we will be releasing in the near future.
We will also be releasing a Ruby API client in the future.
Please check back for updates related to API clients in other languages.
If you have created an API client in another language that's not already listed, please contact us and we may be able to include your API client here.
If we're missing your language, let us know!
<br /><br />
The Posting API accepts incoming data in a standardized format that is then added to the posting database.
<br /><br />
The Search API accepts incoming search requests, and returns information about matching posts to the user.
<br /><br />
The reference API provides a mechanism for accessing the standard reference information used by the 3taps system.
<br /><br />
The Notifier is the part of the 3taps system that sends out various types of notifications about newly-created postings.
<br /><br />
The Geocoder API is a web service within the 3taps Network that allows other programs (both external systems and other parts of the 3taps Network) to calculate the location to use for a posting based on location-specific details within the posting such as a street address or a latitude and longitude value.
<br /><br />
If you're experiencing difficulties with the system you can click on status at the bottom of the work space which takes you to:
<a href="http://twitter.com/3taps_status" target="_blank">http://twitter.com/3taps_status</a>
