<h2>3taps API</h2>
<p>We currently provide a Javascript API client which you can download <a href="/scripts/3taps-client.js" target="_blank">here</a>.
PHP, Python, Java, Ruby, and Perl API clients are coming soon. Please check back for updates related to API clients in other languages.
If you have created an API client in another language that's not already listed, please contact us and we may be able to include your API client here.</p>
<p>3taps provides several APIs for accessing our data and using it in your apps:
<ul>
	<li>The Posting API accepts incoming data in a standardized format that is then added to the posting database.</li>
	<li>The Search API accepts incoming search requests, and returns information about matching posts to the user.</li>
	<li>The Reference API provides a mechanism for accessing the standard reference information used by the 3taps system.</li>
	<li>The Notification API allows users to sign up to be alerted when new postings arrive.</li>
	<li>The Geocoder API is a web service within the 3taps Network that allows other programs (both external systems and other parts of the 3taps Network) to calculate the location to use for a posting based on location-specific details within the posting such as a street address or a latitude and longitude value.</li>
</ul>
</p>
<p>For API status updates, follow us on Twitter: <a href="http://twitter.com/3taps_status" target="_blank">http://twitter.com/3taps_status</a></p>
