<h2>3taps API</h2>
<p>3taps provides several APIs for accessing our data and using it in your apps:
<ul>
	<li><a href="/methods/posting">The Posting API</a> accepts incoming data in a standardized format that is then added to the posting database.</li>
	<li><a href="/methods/search/">The Search API</a> accepts incoming search requests, and returns information about matching posts to the user.</li>
	<li><a href="/methods/reference">The Reference API</a> provides a mechanism for accessing the standard reference information used by the 3taps system.</li>
	<li><a href="/methods/notifications">The Notifications API</a> allows users to sign up to be alerted when new postings arrive.</li>
	<li><a href="/methods/geocoder">The Geocoder API</a> is a web service within the 3taps Network that allows other programs (both external systems and other parts of the 3taps
 Network) to calculate the location to use for a posting based on location-specific details within the posting such as a street address or a latitude and longitude value.</li>
 	<li><a href="/methods/status">The Status API</a> provides access to the status of postings in 3taps. Think of it as a shared, global logfile.</li>
</ul>
</p>

<p>3taps currently provides the following API client libraries:
<ul>
	<li><a href="/scripts/3taps-client.js" target="_blank">Javascript</a></li>
	<li><a href="#">Objective C/iOS</a></li>
	<li><a href="#">Java/Android</a></li>
	<li><a href="#">PHP</a></li>
	<li><a href="#">Python</a></li>
	<li><a href="http://search.cpan.org/~edenc/WWW-3Taps-API-0.01/lib/WWW/3Taps/API.pm">Perl</a></li>
	<li><a href="#">Ruby</a></li>
</ul></p>
<p>For API status updates, follow us on Twitter: <a href="http://twitter.com/3taps_status" target="_blank">http://twitter.com/3taps_status</a></p>
<p>Keep up with the latest 3taps tech news on our blog: <a href="http://3taps.posterous.com" target="_blank">http://3taps.posterous.com</a></p>
<p>See what we're up to on Github: <a href="http://github.com/3taps" target="_blank">http://github.com/3taps</a></p>
