div#title h1 {
	color: #888;
	font-size: 32px;
}

div#nav {
	background: #eeeefe;
	float: left;
	padding: 20px;
	padding-right: 40px;
}

div#nav ol {
	padding-top: 5px;
}

div#nav ol li {
	margin-bottom: 10px;
}

div#nav ol li a, div#nav ol li a:visited {
	color: #333;
	font-size: 14px;
}

div#nav ol li a:hover {
	background: #333;
	color: #fff;
}

div#nav ol li ol {
	margin-bottom: 10px;
	margin-left: 10px;
}

div#nav ol li ol li {
	margin-bottom: 0px;
}

div#nav ol li ol li a, div#nav ol li ol li a:visited {
	color: #000080;
	font-size: 12px;
}

div#nav ol li ol li a:hover {
	background: #000080;
	color: #fff;
}

div#body {
	background: #fff;
	border-left: 1px solid #ddd;
	color: #333;
	overflow: hidden;
	padding: 20px;
	padding-left: 40px;
}

div#body h2 {
	color: #2554C7;
	font-size: 28px;
	margin-bottom: 10px;
	width: 600px;
}

div#body h3 {
	font-size: 22px;
	margin-bottom: 10px;
	width: 600px;
}

div#body h4 {
	font-size: 17px;
	margin-bottom: 5px;
}

div#body div.methods {
	width: 600px;
}

div#body ol {
	padding-bottom: 10px;
}

div#body ol li {
	border-top: 1px solid #ccc;
	margin-top: 20px;
	padding-top: 20px;
	width: 600px;
}

div.description {
	margin-bottom: 20px;
	white-space: pre-wrap;
}

div.methods div.description {
	background: #fff;
	margin-bottom: 10px;
}

div.params {
	background: #fafafa;
	border: 1px solid #aaa;
	margin-bottom: 5px;
	padding: 5px;
}

div#body div.params ol li {
	border: 0px;
	margin-top: 0px;
	padding-top: 5px;
	width: auto;
}

div.returns {
	background: #fafafa;
	border: 1px solid #aaa;
	margin-bottom: 5px;
	padding: 5px;
}

div#body div.returns ol li {
	border: 0px;
	margin-bottom: 0px;
	padding-bottom: 5px;
	white-space: pre-line;
	width: auto;
}

div.code {
	background: #ddd;
	border: 1px solid #aaa;
	font-family: Courier, serif;
	margin-bottom: 5px;
	overflow: auto;
	padding: 5px;
	white-space: pre;
}

form {
	margin-bottom: 10px;
}

form {
	line-height: 28px;
}

form label {
	display: inline-block;
	width: 100px;
}

div.example {
	background: #eee;
	border: 1px solid #ccc;
	margin-bottom: 15px;
	overflow: auto;
	padding: 10px;
}

a.top, a.top:visited {
	color: #555;
	font-size: 11px;
}

a.top:hover {
	background: #555;
	color: #fff;
}
