html, body {
	background: #E1E3E4 url(http://3taps.com/img/network-lighter.png) top left repeat;
	color: #333;
	font-family: Arial, sans-serif;
	font-size: 13px;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

div#header div#header-intro {
	background: #BED600;
	color: #000;
	font-size: 24px;
	padding: 20px 50px;
}

div#header div#logo {
	background: #000;
	font-size: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
}

div#header h1 {
	margin: auto;
	width: 960px;
}

div#header h1 a, div#header h1 a:visited {
	color: #fff;
	text-decoration: none;
}

div#header h1 a span.first {
	color: #BED600;
}

div#container {
	background: url(http://3taps.com/img/arc.png) center -100px no-repeat;
	color: inherit;
}

div#main {
	margin: auto;
	margin-bottom: 20px;
	overflow: hidden;
	padding-top: 20px;
	width: 960px;
}

div#body {
	padding: 20px;
}

div#footer {
	background: #000;
	bottom: 0px;
	color: #fff;
	left: 0px;
	margin: auto;
	text-align: center;
	padding: 10px;
	position: fixed;
	right: 0px;
}
